asgiref==3.4.1
async-generator==1.10
attrs==22.2.0
autopep8==1.5.5
beautifulsoup4==4.11.2
certifi==2022.12.7
charset-normalizer==2.0.1
click==8.0.4
distlib==0.3.6
Django==3.2.19
exceptiongroup==0.0.0a0
filelock==3.4.1
Flask==2.0.3
Flask-SQLAlchemy==2.5.1
greenlet==2.0.2
h11==0.13.0
idna==3.4
importlib-metadata==4.8.3
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
outcome==1.1.0
platformdirs==2.4.0
psycopg2-binary==2.9.5
pycodestyle==2.7.0
PySocks==1.7.1
python-dotenv==0.20.0
pytz==2023.2
requests==2.27.1
selenium==4.0.0a7
sniffio==1.2.0
sortedcontainers==2.4.0
soupsieve==2.3.2
SQLAlchemy==1.4.48
sqlparse==0.4.3
toml==0.10.2
trio==0.19.0
trio-websocket==0.9.2
typing_extensions==4.1.1
urllib3==1.26.15
virtualenv==20.17.1
virtualenv-clone==0.5.7
Werkzeug==2.0.3
wsproto==1.0.0
zipp==3.6.0
