{% extends "layout.html" %}

{% block content %}
{% if errormessage %}
<p class="errormessage">{{ errormessage }}</p>
{% endif %}
<h1>Muokkaa käyttäjätietoja</h1>

{% if userinfo.email_is_public %}
<form action="/userinfosubmit" method="POST">
    <input type="text" name="display-name" placeholder="Nimi" value="{{ userinfo.display_name }}">
    <br>
    <input type="text" name="email" placeholder="Sähköposti" value="{{ userinfo.email }}">
    <br>
    <input type="checkbox" id="email-is-public" name="email-is-public" checked>
    <label for="email-is-public"> Näytä sähköposti muille käyttäjille</label><br>
    <br>
    <textarea name="about-me" placeholder="Tietoa minusta">{{ userinfo.about_me }}</textarea>
    <br>
    <input type="submit" value="Tallenna">
</form>
</body>
{% else %}
<form action="/userinfosubmit" method="POST">
    <input type="text" name="display-name" placeholder="Nimi" value="{{ userinfo.display_name }}">
    <br>
    <input type="text" name="email" placeholder="Sähköposti" value="{{ userinfo.email }}">
    <br>
    <input type="checkbox" id="email-is-public" name="email-is-public">
    <label for="email-is-public"> Näytä sähköposti muille käyttäjille</label><br>
    <br>
    <textarea name="about-me" placeholder="Tietoa minusta">{{ userinfo.about_me }}</textarea>
    <br>
    <input type="submit" value="Tallenna">
</form>
</body>
{% endif %}

{% endblock %}