{% extends "layout.html" %}

{% block content %}

<h1>Tervetuloa keskustelusovelukseen</h1>
{% if errormessage %}
<p class="errormessage">{{ errormessage }}</p>
{% endif %}
{% if session.username %}

<div class="conversation-box">
    <h2>Kaikki keskustelut</h2>

    {% for message in conversations %}
    <div class="starter-box">

    <div class="message-header">
        <h2><a href="/thread/{{ message.id }}">{{ message.header }}</a></h2>
    </div>

    <div class="message-username"><h3><a href="{{ url_for('user', username=message.username) }}">{{ message.username }}</a></h3></div>
    <div class="message-content">{{ message.content }}</div>
</div>
    {% endfor %}
</div>
</div>

<a href="/newconversation"><button class="new-conversation">Uusi keskustelu</button></a>
{% else %}
<p><a href="/login" rel="noopener noreferrer">Kirjaudu sisään</a></p>
<p><a href="/signup" rel="noopener noreferrer">Luo uusi tili</a></p>
<br>


{% endif %}

{% endblock %}