{% extends "layout.html" %}

{% block content %}

{% if session.username %}

{% if errormessage %}
<p class="errormessage">{{ errormessage }}</p>
{% endif %}
<div class="message-header">
    <h2>{{ message.header }}</h2>
</div>
<div class="conversation-box">
    <div class="starter-box">
        <table>
            <tr>
                <td>
                    <div class="message-username">
                        <h3>{{ message.username }}</h3>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="message-content">{{ message.content }}</div>
                </td>
            </tr>
        </table>
    </div>

    {% for reply in replies: %}
    <div class="reply-box">
        <div class="message-username">
            <h3>{{ reply.username }}</h3>
        </div>
        <div class="message-content">{{ reply.content }}</div>
    </div>
    {% endfor %}
    <form action="{{ url_for('replysubmit', id=message.id) }}" method="POST">
        <textarea name="reply-content" placeholder="Vastaa" value="{{ content }}"></textarea>
        <br>
        <input type="submit" value="Lähetä">
    </form>

</div>



{% endif %}
{% endblock %}