{% extends "layout.html" %}

{% block content %}
{% if session.username %}
{% if errormessage %}
<p class="errormessage">{{ errormessage }}</p>
{% endif %}
<div class="message-header">
    <h2>{{ message.header }}</h2>
</div>
<div class="conversation-box">
    <div class="starter-box">

        <div class="message-username">
            <h3><a href="{{ url_for('user', username=message.username) }}">{{ message.username }}</a></h3>
        </div>

        <div class="message-content">{{ message.content }}</div>
    </div>

    {% for reply in replies: %}
    <div class="reply-box">
        {% if reply_to_edit == reply.id %}
        <h3>Muokkaa vastausta</h3>
        <form class="reply-form" action="{{ url_for('replyeditsubmit', id=reply.id) }}" method="POST">
            <textarea name="reply-content">{{ content }}</textarea>
            <br>
            <input type="submit" value="Lähetä">
        </form>
        {% else %}
        <div class="message-username">
            <h3><a href="{{ url_for('user', username=reply.username) }}">{{ reply.username }}</a></h3>
        </div>
        <div class="message-content">{{ reply.content }}</div>
        {% if reply.username == session.username %}


        <div class="reply-actions-box">
            <a href="{{ url_for('editreply', id=reply.id) }}"><img src="/static/pencil.png"></a>
            <a href="{{ url_for('deletereply', id=reply.id) }}"><img src="/static/trashcan.png"></a>
        </div>
        {% endif %}
        {% endif %}
    </div>
    {% endfor %}
    <form class="reply-form" action="{{ url_for('replysubmit', id=message.id) }}" method="POST">
        <textarea name="reply-content" placeholder="Vastaa"></textarea>
        <br>
        <input type="submit" value="Lähetä">
    </form>
</div>



{% endif %}
{% endblock %}